body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.calculator {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(73, 72, 72, 0.916);
}
#display{
    background-color: #ccccccac;

}

input[type="text"] {
    width: 92%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    background-color:darkgray;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:black;
    color: white;
}